*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
}
.wrap {
    width: auto;
    height:50px;
    
}
.nav{    
    margin-top: 20px;
    margin-right: 2%;
    width: auto;   
    
}
.nav > li {
    font-weight:700;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

body{
    background-image: url(../img/풍경.png);
}
.table1 {
    width: 1250px ;
    height: 1310px ;
    margin: 0 auto;
    background-color: #fFf; 
    color: #000; 
    
}
.table1 > table {
    margin-left: 25px;
}
td{    
    color: #000;
}
strong{
    color: black;
}
.bottom {
    height: 100px;
    width: auto;
    
}
.faver-Mid {
    width: 1250px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    
}
.bottom{
    width: 1250px;
    height: 45px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    font-weight: 900;
    padding-top: 10px;
}

.newss {
    margin-top: 15px;
    width: 850px;
    height: auto;
    margin: 0 auto;
    
}
.ad1{   
    padding-top: 50px;
    text-align: center;
    width: 750px;
    height: auto;
    
}
.ad2{
    background-color: rgb(84, 10, 255);
    color: #fff;
    border: 1px solid #000;
}

#ad3 {
    border: 1px solid #000;
    height: 150px;
    line-height: 44px;
    font-weight: 900;
}
#ad4 {
    border: 1px solid #000;
    height: 300px;
    line-height: 33px;
    font-weight: 900;
}
.join {
    width: 900px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
#check {
    background-color: rgb(163, 163, 163, 0.5);
    border-radius: 5px;
    height: 200px;
    padding: 5px;
    margin-bottom: 10px;

}
.textbox {
    width: 850px; 
    height: 120px;
    
}
.join1 {
    position: relative;
    left: 0;
    width: 350px;
    height: auto;
    text-align: right;  
    float: left;
}
.join1 > form> p {
    margin: 10px;
    font-weight: bold;
}
.inputbox {
    border: 1px solid gray;
    height: 20px;
    padding-left: 5px;
}
.try >p{
    margin: 12px;
    font-weight: bold;
}
.sitemap {  
    text-align: center;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;    
    background-color: aquamarine;
    border-radius: 15px;
}
.sitemap h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;   
    margin-bottom: 30px;
}
.sitemap p a {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
    color: rgb(255, 96, 68);
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-bottom: 100px;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.topp {
    height: 150px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

form {    
    margin-top: 30px;
    margin-left: 30px;
}
h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}
form>p{        
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    
}
form >p:last-child{
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 0;    
}
form input {
    margin: 0 10px;
}
form input #ssn2{
    margin-right: 5px;
}
form input[type="text"],[type="password"] {    
    background-color: rgb(194, 255, 232);
    padding: 7px;
    height: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

form input[type="button"] {    
    padding: 5px;
    height: 30px;
    width: 150px;
}
input[type="button"], input[type="reset"], input[type="submit"]{
    cursor: pointer;
    width: 150px;
    height:30px;
    background-color: rgba(255, 162, 162, 0.753);
    color:white;
    border-radius: 15px;
    border: 0;
}

#sample6_postcode  {
    margin-top: 30px;
}
#hi {
    color:#fff
}
#birth > input[type="text"] {
    width: 80px;
}